# {{ ansible_managed }}
<VirtualHost {{ msehr_apache_listen_address }}:80>
    ServerAdmin	{{ msehr_apache_admin_email }}
    ServerName {{ msehr_apache_domain }}
    RedirectMatch permanent ^(.*)/$ https://%{SERVER_NAME}/$1
</VirtualHost>

<VirtualHost {{ msehr_apache_listen_address }}:443>

    ServerAdmin	{{ msehr_apache_admin_email }}
    ServerName {{ msehr_apache_domain }}

    SSLEngine On
    SSLCertificateFile {{ msehr_apache_ssl_cert }}
    SSLCertificateKeyFile {{ msehr_apache_ssl_key }}

    DocumentRoot {{ msehr_install_path }}/public_html/
    DirectoryIndex index.php

    CookieName apacheLogUserID
    # TODO: It not work with an ip (for vpn direct access)
    CookieDomain .{{ msehr_apache_domain }}
    Define MEDSHAKEEHRLOGFILE {{ msehr_log_dir }}/access.log
    SetEnv MEDSHAKEEHRLOGFILE ${MEDSHAKEEHRLOGFILE}
    LogFormat "{% raw %}%{%Y-%m-%d %H:%M:%S}t{% endraw %} %{c}a %r %{Cookie}n" usertrack
    SetEnvIf Request_URI "\.png$|\.gif$|\.jpg$|\.svg$|\.js$|\.css$|\.map$|\.ico$|\.woff2" do_not_log
    CustomLog ${MEDSHAKEEHRLOGFILE} usertrack env=!do_not_log

    RewriteEngine On

      RewriteEngine On

      # Pass all existend php file to php-fpm
      RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} -f
      RewriteRule ^(.+\.php)$ unix:/run/php/php-fpm-msehr.sock|fcgi://localhost/%{DOCUMENT_ROOT}/$1 [P]

      # Route all public location to public.php script
      RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
      RewriteRule ^(/public/)(.*)$ unix:/run/php/php-fpm-msehr.sock|fcgi://localhost/%{DOCUMENT_ROOT}/public.php [P]

      # Route all phonecapture location to phonecapture.php script
      RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
      RewriteRule ^(/phonecapture/)(.*)$ unix:/run/php/php-fpm-msehr.sock|fcgi://localhost/%{DOCUMENT_ROOT}/phonecapture.php [P]

      # Route all other location with non existent file to index.php script
      RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
      RewriteRule ^(.*)$ unix:/run/php/php-fpm-msehr.sock|fcgi://localhost/%{DOCUMENT_ROOT}/index.php [P]

      <Location />
              Require all granted
      </Location>

      <Location ~ /(phonecapture|public)/>
              Require all granted
      </Location>

      # Assets (js, css et images) et pages de maintenance
      <Location ~ /(components/|thirdparty/|scss/|img/|js/|favicon.ico|maintenancePublic.html|maintenance.html)>
              # Ces ressources peuvent êtres mise en cache
              Header setifempty Cache-Control "must-revalidate"
              # Fix un bug présent dans le version de apache utilisé dans Debian 10 (2.4.38)
              # qui gènère une entête http Etag mal formé et empéche un retrour 304
              # quant la ressource est en cache.
              # voire https://bz.apache.org/bugzilla/show_bug.cgi?id=45023#c22
              # TODO : Vérrifier si cela est corrigé avec Debian 11
              RequestHeader edit "If-None-Match" '^"((.*)-gzip)"$' '"$1", "$2"'
              Require all granted
      </Location>

      <Location ~ /composer.(json|lock)>
              Require all denied
      </Location>

</VirtualHost>
