; {{ ansible_managed }}

[msehr]
user = {{ msehr_user }}
group ={{ msehr_group }}

listen = /run/php/php-fpm-msehr.sock
listen.owner = www-data
listen.group = www-data

pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3

php_admin_value[max_input_vars] = 20000
php_admin_value[post_max_size] = 40M
php_admin_value[upload_max_filesize] = 40M

env[MEDSHAKEEHRPATH] = '{{ msehr_install_path }}'
env[MEDSHAKEHRLOGFILE] = '{{ msehr_log_dir }}/access.log'
